* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
header,
footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
}
header h1 {
  font-size: 40px;
  font-weight: bold;
}

.books__section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}
.book__card {
  border: 1px solid grey;
  border-radius: 10px;
  max-height: 300px;
  flex: 250px;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 8px 5px 0 rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease-in-out;
}
.book__image {
  width: 100%;
  height: 50%;
  object-fit: contain;
}
.book__card:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.book__card h1 {
  text-transform: capitalize;
}
.book__card p {
  display: inline-block;
  padding: 10px;
}
.book__card p {
  font-size: 18px;
  font-weight: bold;
}
